
<div *ngIf="customer">
    <h2><span jhiTranslate="cargoManagmentSystemApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cargoManagmentSystemApp.customer.address">Address</span></dt>
        <dd>
            <span>{{customer.address}}</span>
        </dd>
        <dt><span jhiTranslate="cargoManagmentSystemApp.customer.customerName">Customer Name</span></dt>
        <dd>
            <span>{{customer.customerName}}</span>
        </dd>
        <dt><span jhiTranslate="cargoManagmentSystemApp.customer.email">Email</span></dt>
        <dd>
            <span>{{customer.email}}</span>
        </dd>
        <dt><span jhiTranslate="cargoManagmentSystemApp.customer.companyTelephoneNumber">Company Telephone Number</span></dt>
        <dd>
            <span>{{customer.companyTelephoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="cargoManagmentSystemApp.customer.mobileTelephoneNumber">Mobile Telephone Number</span></dt>
        <dd>
            <span>{{customer.mobileTelephoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="cargoManagmentSystemApp.customer.user">User</span></dt>
        <dd>
            {{customer.userLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
