<div>
    <h2>
        <span jhiTranslate="cargoManagmentSystemApp.insurancePolicy.home.title">Insurance Policies</span>
        <button class="btn btn-primary float-right jh-create-entity create-insurance-policy" [routerLink]="['/', { outlets: { popup: ['insurance-policy-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cargoManagmentSystemApp.insurancePolicy.home.createLabel">
            Create new Insurance Policy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="insurancePolicies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validate"><span jhiTranslate="cargoManagmentSystemApp.insurancePolicy.validate">Validate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="cargoManagmentSystemApp.insurancePolicy.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cost"><span jhiTranslate="cargoManagmentSystemApp.insurancePolicy.cost">Cost</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="driverId"><span jhiTranslate="cargoManagmentSystemApp.insurancePolicy.driver">Driver</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let insurancePolicy of insurancePolicies ;trackBy: trackId">
                <td><a [routerLink]="['../insurance-policy', insurancePolicy.id ]">{{insurancePolicy.id}}</a></td>
                <td>{{insurancePolicy.validate | date:'mediumDate'}}</td>
                <td>{{insurancePolicy.type}}</td>
                <td>{{insurancePolicy.cost}}</td>
                <td>
                    <div *ngIf="insurancePolicy.driverId">
                        <a [routerLink]="['../driver', insurancePolicy.driverId  ]" >{{insurancePolicy.driverId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../insurance-policy', insurancePolicy.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'insurance-policy/'+ insurancePolicy.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'insurance-policy/'+ insurancePolicy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="insurancePolicies && insurancePolicies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
