<div>
    <h2>
        <span jhiTranslate="cargoManagmentSystemApp.truck.home.title">Trucks</span>
        <button class="btn btn-primary float-right jh-create-entity create-truck" [routerLink]="['/', { outlets: { popup: ['truck-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cargoManagmentSystemApp.truck.home.createLabel">
            Create new Truck
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="trucks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="registerSign"><span jhiTranslate="cargoManagmentSystemApp.truck.registerSign">Register Sign</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="bodyNumber"><span jhiTranslate="cargoManagmentSystemApp.truck.bodyNumber">Body Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weight"><span jhiTranslate="cargoManagmentSystemApp.truck.weight">Weight</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="color"><span jhiTranslate="cargoManagmentSystemApp.truck.color">Color</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="yearOfIssue"><span jhiTranslate="cargoManagmentSystemApp.truck.yearOfIssue">Year Of Issue</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="trailerId"><span jhiTranslate="cargoManagmentSystemApp.truck.trailer">Trailer</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let truck of trucks ;trackBy: trackId">
                <td><a [routerLink]="['../truck', truck.id ]">{{truck.id}}</a></td>
                <td>{{truck.registerSign}}</td>
                <td>{{truck.bodyNumber}}</td>
                <td>{{truck.weight}}</td>
                <td>{{truck.color}}</td>
                <td>{{truck.yearOfIssue | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="truck.trailerId">
                        <a [routerLink]="['../trailer', truck.trailerId  ]" >{{truck.trailerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../truck', truck.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'truck/'+ truck.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'truck/'+ truck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="trucks && trucks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
